version: "3.9"

services:
  backend:
    build: ./backend
    container_name: weatherwizard1-backend
    ports:
      - "3001:3001"
    environment:
      - NODE_ENV=production

  frontend:
    build: ./frontend
    container_name: weatherwizard1-frontend
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - NEXT_PUBLIC_BACKEND_URL=http://backend:3001
    depends_on:
      - backend
